html, body {
    margin: 0;
    padding: 0;
	font-family:"3";
}
div#wp{
 background:#536693;
 padding:10;
 /***************/
border-bottom:2px dotted #bbb;
}

div#div1{
  background:#f6f6f6;
  background-size: 3%;
  width:100%;
  font-size:17px;
  font-family:"3";
  color:#fff;
  padding-top:20;
}

div#div2{
 font-family:"2";
 background-color: #ccc;
 height:35%;
 list-style-type:none;

 border-top:2px dotted #999;
}
#div2 li{
  list-style-type:none;
  padding-top:5;
}
#div2 a{
font-size : 18;
color:#405170;
text-decoration:none;
}
#div2 a:hover{
text-decoration:none;
color:#6082a8;
}

div#div3{
 background-color: #333;
 height:8%;
}
font#blanc{
color:#bbb;
}

p.text1{
font-family:"2";
color:#fff;
font-size:18;
}

#menu1{
width:100%;
text-align:right;
font-family:"2";
font-size:14px;
color:#fff;
list-style-type:none;
margin:0 0;
padding:0;
}
#menu1 li{
	font-size:14px;
	font-family:"2";
}
#menu1 a{
color:#fff;
font-size:1em;
text-decoration:none;
float:right;
padding-left:30;
}
#menu1 a:hover{
font-family:"2";
text-decoration:none;
color:#bbb;
}
#bigdiv table{
 padding:40 40 40 80;
 background:rgb(41, 48, 55);
 border-radius:30px 0px 0px 30px;
 font-size:18;
 font-family:"2";
 }
#bigdiv{
 margin-left:18%;
 width:60%;
 background:#1799dd;
 border-radius:30px;
 -moz-box-shadow: 0 0 8px #888;
-webkit-box-shadow: 0 0 8px#888;
box-shadow: 0 0 8px #888;
}
#bigdiv:hover{
/*background:#707e8e;*/
}
#DropDownList1,.categorie{
border:1px solid #fff;
border-radius:25px;
height:44;
width:400px;
font-size:20px;
font-family:"2";
color:#333;
margin:10 20 10 20;
padding: 7 0px 7 30px;
overflow: hidden;
}
input.champ{
border:1px solid #fff;
border-radius:25px;
height:44;
width:400px;
font-size:20px;
font-family:"2";
color:#333;
margin:10 20 10 20;
padding: 7 0px 7 30px;
overflow: hidden;
}
input.buttona{
border:1px solid rgb(41, 48, 55);
border-radius:25px;
height:44;
width:400px;
font-size:22px;
font-family:"2";
color:#eee;
margin:10 20 10 20;
padding: 4 0px 4 0px;
overflow: hidden;
background:#1799dd;
}
input.buttona:hover{
 background:#0c5c86;
 }
 .area{
  width:400px;
  height:200px;
  padding: 15;
  margin:10 20 10 20;
  border:1px solid #fff;
  border-radius:30px;
  font-size:18px;
 font-family:"3";
 }
 .file{
  border:1px solid #000;
  width:400;
  border-radius:25px;
  height:44px;
  margin:10 20 10 20;
  background:rgb(255,255,255);
  font-size:19px;
  color:#777;
 }
a {
 text-decoration:none;
}
@font-face {
	font-family:"1";
	src: url('font/font-1.ttf');
}
@font-face {
	font-family:"2";
	src: url('font/font-2.ttf');
}
@font-face {
	font-family:"3";
	src: url('font/font-3.ttf');
}